// Copyright © 2023 Elle Kasai

// Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the “Software”), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

// The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

// THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

@import './emoji-map';

$custom-map: (
  "austin-flag": "/media/austin_flag_wikipedia_public_domain.png",
  "project-connect": "/media/project_connect_logo.png"
);

.icon {
  display: inline-block;
  height: 1.2em;
  width: 1.2em;
  margin: 0 0.5em 0 .1em;
  vertical-align: -0.1em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1em 1em;
}

$size-map: (
  "lg": 1.33,
  "2x": 2,
  "3x": 3,
  "4x": 4,
  "5x": 5
);

@each $name, $size in $size-map {
  .icon-size-#{$name} {
    height: 1em * $size;
    width: 1em * $size;
    margin: 0 .05em * $size 0 .1em * $size;
    vertical-align: -0.1em * $size;
    background-size: 1em * $size 1em * $size;
  }
}

@each $name, $code in $emoji-map {
  .twa-#{$name} {
    background-image: url("https://twemoji.maxcdn.com/2/svg/#{$code}.svg");
  }
}

@each $name, $code in $custom-map {
  .#{$name} {
    background-image: url("#{$code}");
  }
}

// Display pageinfo in line with text width
.pageinfo {
  max-width: 80%;
  margin: 0;
}

@media (max-width: 991.98px) {
  .pageinfo {
    max-width: 100%;
    margin: 0;
  }

  // Might be a space to put navbar links on mobile, may want to change in future.
  .td-navbar .td-navbar-nav-scroll {
    height: 0;
  }
}

// Make a smaller footer
.td-footer {
  min-height: 2vh;
  padding-top: 1rem;
}

//  Align icons and name
.td-navbar .navbar-brand__name {
  vertical-align: middle;
}

.td-navbar .navbar-logo {
  vertical-align: middle;
  display: inline-block;
}

// Make mobile nav menu indentation same as wider screen formats
.td-sidebar-nav__section .ul-1 ul {
  padding-left: 1.5rem;
}

.td-content .img-fluid {
  box-shadow: rgba(123, 81, 148, 0.4) 2px 1px 2px 2px, rgba(30, 19, 36, 0.4) 1px 2px 3px 2px;
  display: block;
  margin: 0 auto;
}

// Make anchor links always visible
h2 > a > svg,
h3 > a > svg,
h4 > a > svg,
h5 > a > svg,
h6 > a > svg {
  visibility: visible;
  color: $gray-500;
  width: 1.3rem;
  height: 1.3rem;
}

h2 > a > svg:hover,
h3 > a > svg:hover,
h4 > a > svg:hover,
h5 > a > svg:hover,
h6 > a > svg:hover {
  visibility: visible;
  color: var(--bs-link-color);
}

// YouTube video width matches content width
@media (min-width: 992px) {
  div > iframe[title="YouTube Video"] {
    max-width: 80%;
  }
}

// Janky footer selection to fix it up a bit
footer {
  // position: sticky;
  bottom: 0;
}

.td-footer {
  padding-top: 0;
}

footer div.col-6:nth-child(1) {
  display: none;
}

.td-footer__copyright-etc {
  flex: 80%;
  font-size: small;
  text-align: left !important;
  // display: inline-flex;
}

footer div.col-6:nth-child(2) {
  flex: content;
}

.td-footer__links-item {
  line-height: normal;
  margin-bottom: 0;
}

// .fa-brands {
//   flex:content;
//   display: inline-flex;
// }

@media (max-width: 992px) {
  .td-footer__copyright-etc span {
    font-size: 0;
  }

  .td-footer__copyright-etc span:after {
    font-size: small;
    content: "Creative Commons CC-BY-NC-SA 4.0 license. Link urbanism.guide to attribute.";
    overflow: hidden;
  }
}

// Make left sidebar a little wider on Desktop
@media (min-width: 1200px) {
  .td-sidebar {
    width: 20%;
  }
  .td-sidebar-toc {
    width: 20%;
  }
  main.col-12 {
    width: 60%;
  }
}