$primary: #893cc9;
$secondary: #30ff86;

$td-sidebar-bg-color: white;
$border-color: white;

// Might be a space to put navbar links on mobile, may want to change in future.
@media (max-width: 991.98px) {
    .td-navbar .td-navbar-nav-scroll {
      height: 0 !important;
    }
  }

//  Align icons and name
.td-navbar .navbar-brand__name {
    vertical-align: middle;
}

.td-navbar .navbar-logo {
    vertical-align: middle;
    display: inline-block;
}

// Make a smaller footer
.td-footer {
    min-height: 2rem !important;
    padding-top: 1rem !important;
}